<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %> 
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <div class="container">
        <h1>About Me</h1>
        <div class="profile">
            <img src="/images/profile.jpeg" %> alt="Profile Image">
            <h2>Umer</h2>
            <p>A short paragraph  about yourself.</p>
            <p><a href="/resume/resume.pdf" target="_blank">View my Resume (PDF)</a></p>

        </div>
    </div> 
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>