<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header> 
  <%- include('../partials/header'); %>
    
</header>

<main>
  <div class="contact-form">
    <h2>Contact Me</h2>
    <form>
        <input type="text" name="name" placeholder="Your Name" required>
        <input type="email" name="email" placeholder="Your Email" required>
        <textarea name="message" placeholder="Your Message" required></textarea>
        <button type="submit">Send Message</button>
    </form>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>