<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <title>Welcome </title> 
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <div class="background">
        <div class="container">
            <div class="glass-card">
                <h1>Welcome to My Website</h1>
                <p>A short story description goes here.</p>
                <a href="/about"><button class="btn">About me</button></a>
            </div>
        </div>

  <%- include('../partials/footer'); %>
    </div> 
</main> 
</body>
</html>