<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header> 
    <%- include('../partials/header'); %>
</header>

<main>
  <div class="project-container">
    <img class="project-image" src="/images/project1.jpg" alt="Project Image">
    <h1 class="project-title">Ui/Ux Design for mmobile app</h1>
    <p class="project-description">This is a description of the project. It includes details about the project's purpose, features, and technologies used.</p>
    <a href="#"><button class="btn">Learn More</button></a>
</div>
<div class="project-container">
  <img class="project-image" src="/images/project2.png" alt="Project Image">
  <h1 class="project-title">SEO Optimisation for a website </h1>
  <p class="project-description">This is a description of the project. It includes details about the project's purpose, features, and technologies used.</p>
  <a href="#"><button class="btn">Learn More</button></a>
</div>
<div class="project-container">
  <img class="project-image" src="/images/project3.jpeg" alt="Project Image">
  <h1 class="project-title"> Admin panel for xyz company</h1>
  <p class="project-description">This is a description of the project. It includes details about the project's purpose, features, and technologies used.</p>
  <a href="#"><button class="btn">Learn More</button></a>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>